@import 'src/styles/colors.scss';

.page {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .register-card {
        width: 500px;

        mat-card-header {
            display: flex;
            justify-content: center;
            padding-bottom: 10px;
        }

        .register-content{
            .register-form {
                display: flex;
                flex-direction: column;

                mat-form-field {
                    ::ng-deep {
                        .mat-form-field-label {
                            color: $dark-grey;
                        }
                        .mat-form-field-ripple {
                            background-color: $yellow;
                        }
                    }
                }

                .register-button {
                    margin-top: 16px;
                    background-color: $yellow;
                }
            }
        }

        .register-footer {
            padding: 0px 16px;
            display: flex;
            flex-direction: column;
            button {
                margin-bottom: 10px;
                color: $dark-grey;
            }
        }
    }
}

